@import "reticula.styl"


ul
	list-style none
	padding 0

h1, h2, h3, h4
	margin 0

.menu
	height 130px

.menu-nav
	background-color #34495E
	color white
	width 100%
	h1, h2, h3
		margin	0


.flex
	display flex

.content-view
	display flex
	height calc(100% - 130px)

.form-admon-title
	margin-bottom 15px

.navbar-left
	.menu-item
		float left