<!-- stylus -c -w -o css stylus\styles.styl -->
{% extends "base.html "%}
{% load staticfiles %}
{% block menu %}
	<nav class="navbar navbar-embossed menu-nav-actividades row middle ">
		<div class="col-4">
			<h4>Actividades</h4>
		</div>
		<div class="botonbarranav">
			<h4> Salir </h4>
		</div>
	</nav>
{% endblock menu %}
{% block  content %}

	<div class="actividades">
		{% for actividad in actividades %}
			<div class="actividad-content actividad-content-rd">
				<h6>{{ actividad.nombre }}</h6>
				<img class="actividad-image" src="{{ actividad.imagen }}" alt="" width="150px" height="150px">
				<button class="actividades-button actividades-button-rd"> {{ actividad.nombre }}</button>
			</div>
		{% endfor %}	
	</div>
	<div class="indicadores">
		<div class="indicadorprogreso-content">
		 <div class="progress-bar progress-bar-warning" style="width: 10%;"></div>
		</div>
		{% include "controles.html" %}
	</div>
{% endblock  %}