{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>FunnyD</title>
	<link rel="stylesheet" href="{% static "css/flat-ui.css" %}">
	<!--<link rel="stylesheet" href="{% static "css/bootstrap.css" %}">-->
	<link rel="stylesheet" href="{% static "css/styles.css" %}">
	<script src="{% static "js/jquery.min.js" %}" ></script>
	<script src="{% static "js/flat-ui.js" %}" ></script>
</head>
<body>
	<div class="container">
		<div class="menu middle flex">
			{% block menu %}
			{% endblock menu %}
		</div>
		<div class="content-view center">
			{% block content %}

			{% endblock content %}
		</div>
	</div>
</body>
</html>