{% extends "base.html "%}
{% block menu %}
	<nav class="navbar navbar-embossed menu-nav row middle">
		<div class="col-4">
			<div class="fuente">Cambio de Contraseña</div>
		</div>
		<div class="botonbarranav">
			<button class="menu-button menu-button-sc"> Ingreso </button>
		</div>
	</nav>
{% endblock menu %}
{% block  content %}

	<div class="login-form">

            <div class="form-group">
                <div class="fuente fuente-form"> Recuerda Tu Contraseña </div>
            </div>

            <div class="form-group">
              <input type="text" class="form-control login-field" value="" placeholder="Usuario" id="login-usuario">
              <label class="login-field-icon fui-user" for="login-name"></label>
            </div>

            <div class="form-group">
              <input type="text" class="form-control login-field" value="" placeholder="Identificación" id="login-identificacion">
              <label class="login-field-icon fui-credit-card" for="login-name"></label>
            </div>

            <div class="form-group">
              <input type="password" class="form-control login-field" value="" placeholder="Nueva Contraseña" id="login-pass">
              <label class="login-field-icon fui-lock" for="login-pass"></label>
            </div>	

            <a class="btn btn-primary btn-lg btn-block" href="#">Cambiar</a>

  </div>

{% endblock  %}