<nav class="navbar navbar-embossed menu-nav row middle">
	<div class="col-2">
		<h4>FunnyD</h4>
	</div>
	<div class="col-8">
			<ul class="nav navbar-nav navbar-left">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"> Alumnos <b class="caret"> </b>
					</a>
					<span class="dropdown-arrow"></span>
					<ul class="dropdown-menu">
						<li><a href="#">Incribir</a></li>
						<li><a href="#">Resultado de alumnos</a></li>
					</ul>
				</li>
			</ul>
	</div>
	<div class="col-2">
		<span>
			{{ user.first_name }} {{ user.last_name }}
		</span>
	</div>
</nav>